In [2]:
import pandas as pd
import numpy as np
import plotly 
import re
import plotly.express as px

In [3]:
df_salaries = pd.read_csv('C:\\Users\\iKerng\\Python\\School_DA\\final_task\\data\\Salaries.csv', delimiter=',')
df_salaries = df_salaries[['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay',
                           'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Status']]

C:\Users\iKerng\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# df_salaries.EmployeeName.astype('str')
df_salaries.info()
# Id,
# EmployeeName - ФИО Сотрудника,
# JobTitle - Должность,
# BasePay - Зарплата,
# OvertimePay - Переработка,
# OtherPay - Другие доходы,
# Benefits,
# TotalPay Итоговый заработок,
# TotalPayBenefits Итоговый заработок с учетом преимуществ,
# Year Год,
# Notes Доп информация,
# Agency Агентство,
# Status Статус PT (part-time) FT (full-time)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Status            38119 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 12.5+ MB

In [5]:
# df_salaries[type(df_salaries['EmployeeName']) != str]['EmployeeName']
# ls_error = []
# for i in df_salaries.EmployeeName:
#     if type(i) != type(''):
#         ls_error.append(i)

# df_salaries.EmployeeName.apply(lambda x: ls_error.append(x) if type(x) != type(''))
# ls_error

# type(df_salaries.EmployeeName)

In [6]:
def str_nice(name=''):
    if type(name) == str:
        name = name.lower()
        name = re.sub(r'\s{2,}', ' ', name)
        name = re.sub(r'[^\w ]|\d', '', name)
    return name

In [7]:
df_salaries.EmployeeName = df_salaries.EmployeeName.apply(str_nice)

In [8]:
df_salaries.groupby(by='EmployeeName')['EmployeeName'].count()

EmployeeName
a bernard fatooh         4
a elizabeth marchasin    1
a james robertson ii     3
a jamil niazi            1
a k finizio              1
                        ..
zun jin zhang he         4
zuna luu                 2
zuna t luu               2
zuren mei                1
zuri jones               4
Name: EmployeeName, Length: 70542, dtype: int64

In [9]:
# функция разбивает ФИО по словам в лист
# затем сортирует лист по длине слов ФИО
# и составляет строку из двух самых длинных слов
# практика показала, что данная функция уменьшает количество групп на 23 из 70542
def split_sort_join(name=''):
    name = str(name).split(' ')
    name.sort(reverse=True)
    name = ' '.join(name[::1])
    return name

In [10]:
df_test = df_salaries.sort_values(by=['EmployeeName', 'Id']).set_index('EmployeeName')
df_test['JobTitle'] = df_test['JobTitle'].apply(str_nice)
df_test

,Id,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Status
EmployeeName,,,,,,,,,,
a bernard fatooh,29354,sheriffs property keeper,19969.4,0,70.54,NaN,20039.91,20039.91,2011,NaN
a bernard fatooh,66372,sheriffs property keeper,18472.3,0,27.84,5014.66,18500.19,23514.85,2012,NaN
a bernard fatooh,102844,sheriffs property keeper,23908.5,0,15.12,5455.62,23923.62,29379.24,2013,NaN
a bernard fatooh,140526,sheriffs property keeper,24061.35,0.00,0.00,6091.68,24061.35,30153.03,2014,PT
a elizabeth marchasin,28470,principal clerk,23591.8,0,2691.06,NaN,26282.86,26282.86,2011,NaN
...,...,...,...,...,...,...,...,...,...,...
zuren mei,22351,custodian,48472.4,2524.87,5611,NaN,56608.27,56608.27,2011,NaN
zuri jones,17186,deputy probation officer,70888,0,0,NaN,70888.04,70888.04,2011,NaN
zuri jones,49186,deputy probation officer,86588.5,0,0,35762.3,86588.52,122350.86,2012,NaN
zuri jones,93464,deputy probation officer,71986.9,0,0,22727.2,71986.90,94714.11,2013,NaN
zuri jones,132615,deputy probation officer,66667.54,0.00,0.00,22870.94,66667.54,89538.48,2014,PT

In [12]:
# df_test.groupby(by='')['Status'].count().sort_values(ascending=False)

In [13]:
df_job_title = pd.DataFrame((df_test.groupby(by='JobTitle')['JobTitle'].count()).sort_values(ascending=False)).\
    rename(columns={'JobTitle':'quantity'}).reset_index()

In [14]:
df_job_title[df_job_title.quantity <= 100]

                                               JobTitle  quantity
246                                 maintenance planner       100
247                                principal accountant        99
248                                     senior engineer        99
249                                    watershed keeper        98
250                                         manager vii        98
...                                                 ...       ...
1553                secretary human services commission         1
1554                   secretary to the presiding judge         1
1555             secretaryjuvenile probation commission         1
1556  captain bureau of fire prevention and public safe         1
1557                                        zoo curator         1

[1312 rows x 2 columns]

In [25]:
job_title_words = []

In [27]:
for i in df_job_title.JobTitle.apply(lambda x: str(x).split(sep=' ')).to_list():
    for k in i:
        job_title_words.append(k)
job_title_words

['transit',
 'operator',
 'special',
 'nurse',
 'registered',
 'nurse',
 'police',
 'officer',
 '',
 'custodian',
 'firefighter',
 'recreation',
 'leader',
 'deputy',
 'sheriff',
 'public',
 'svc',
 'aidepublic',
 'works',
 'patient',
 'care',
 'assistant',
 'public',
 'service',
 'trainee',
 'attorney',
 'civilcriminal',
 'police',
 'officer',
 'porter',
 'general',
 'laborer',
 'gardener',
 'sergeant',
 '',
 'parking',
 'control',
 'officer',
 'library',
 'page',
 'health',
 'worker',
 '',
 'senior',
 'clerk',
 'senior',
 'clerk',
 'typist',
 'clerk',
 'eligibility',
 'worker',
 'emtparamedicfirefighter',
 'licensed',
 'vocational',
 'nurse',
 'stationary',
 'engineer',
 'nurse',
 'practitioner',
 'senior',
 'eligibility',
 'worker',
 'protective',
 'services',
 'worker',
 'museum',
 'guard',
 'transit',
 'supervisor',
 'senior',
 'administrative',
 'analyst',
 'police',
 'officer',
 'iii',
 'medical',
 'evaluations',
 'assistant',
 'librarian',
 '',
 'junior',
 'clerk',
 'school',
 'crossing',
 'guard',
 'truck',
 'driver',
 'food',
 'service',
 'worker',
 'electrical',
 'transit',
 'system',
 'mech',
 'engineer',
 'ps',
 'aide',
 'to',
 'prof',
 'stdntdsgntrain',
 'archengplng',
 'senior',
 'account',
 'clerk',
 'publ',
 'svc',
 'aideasst',
 'to',
 'prof',
 'lieutenant',
 'fire',
 'suppression',
 'manager',
 'iii',
 'automotive',
 'mechanic',
 'mental',
 'health',
 'rehabilitation',
 'worker',
 'community',
 'police',
 'services',
 'aide',
 'public',
 'service',
 'aidespecial',
 'programs',
 'physician',
 'specialist',
 'senior',
 'physician',
 'specialist',
 'nursing',
 'assistant',
 'manager',
 'ii',
 'deputy',
 'probation',
 'officer',
 'pr',
 'administrative',
 'analyst',
 'manager',
 'i',
 'assoc',
 'engineer',
 'psychiatric',
 'social',
 'worker',
 'clerk',
 'typist',
 'public',
 'safetycomm',
 'disp',
 'painter',
 'police',
 'officer',
 'i',
 'hsa',
 'sr',
 'eligibility',
 'worker',
 'counselor',
 'juvenile',
 'hall',
 'administrative',
 'analyst',
 'asst',
 'engr',
 'stationary',
 'eng',
 'sewage',
 'plant',
 'principal',
 'clerk',
 'automotive',
 'service',
 'worker',
 'deputy',
 'court',
 'clerk',
 'ii',
 'manager',
 'iv',
 'electronic',
 'maintenance',
 'tech',
 'executive',
 'secretary',
 '',
 'senior',
 'personnel',
 'analyst',
 'electrician',
 'planner',
 '',
 'library',
 'assistant',
 'medical',
 'social',
 'worker',
 'secretary',
 '',
 'pool',
 'lifeguard',
 'senior',
 'social',
 'worker',
 'police',
 'officer',
 'ii',
 'account',
 'clerk',
 'transit',
 'car',
 'cleaner',
 'nurse',
 'manager',
 'senior',
 'deputy',
 'sheriff',
 'manager',
 'v',
 'library',
 'technical',
 'assistant',
 '',
 'inspector',
 '',
 'ps',
 'aide',
 'health',
 'services',
 'lieutenant',
 '',
 'management',
 'assistant',
 'personnel',
 'analyst',
 'deputy',
 'court',
 'clerk',
 'iii',
 'carpenter',
 'fire',
 'fighter',
 'paramedic',
 'unit',
 'clerk',
 'sergeant',
 'iii',
 'police',
 'department',
 'is',
 'business',
 'analystprincipal',
 'engarchlandscape',
 'arch',
 'sr',
 'captain',
 'fire',
 'suppression',
 'automotive',
 'machinist',
 'accountant',
 'iii',
 'program',
 'specialist',
 'is',
 'engineersenior',
 'health',
 'program',
 'coordinator',
 '',
 'pharmacy',
 'technician',
 'plumber',
 'junior',
 'engineer',
 'manager',
 'vi',
 'hospital',
 'eligiblity',
 'worker',
 'construction',
 'inspector',
 'is',
 'business',
 'analystsenior',
 'sheriffs',
 'cadet',
 'employment',
 '',
 'training',
 'spec',
 '',
 'marriage',
 'family',
 '',
 'child',
 'cnslr',
 'recreation',
 'coordinator',
 'eligibility',
 'worker',
 'supervisor',
 'junior',
 'administrative',
 'analyst',
 'utility',
 'plumber',
 'payroll',
 'clerk',
 'bdcomm',
 'mbr',
 'grpmmtg',
 'student',
 'design',
 'trainee',
 'arcengplng',
 'public',
 'health',
 'nurse',
 'child',
 'support',
 'officer',
 'ii',
 'accountant',
 'ii',
 'building',
 'inspector',
 'legal',
 'secretary',
 '',
 'custodial',
 'assistant',
 'supervisor',
 'pharmacist',
 'physical',
 'therapist',
 'social',
 'worker',
 'health',
 'care',
 'billing',
 'clerk',
 '',
 'camp',
 'assistant',
 'sheriffs',
 'sergeant',
 'medical',
 'records',
 'clerk',
 'utility',
 'specialist',
 'customer',
 'service',
 'agent',
 'electrical',
 'transit',
 'system',
 'mechanic',
 'is',
 'business',
 'analyst',
 'clinical',
 'psychologist',
 'testing',
 'technician',
 'transit',
 'fare',
 'inspector',
 'occupational',
 'therapist',
 'sr',
 'payroll',
 '',
 'personnel',
 'clerk',
 'senior',
 'management',
 'assistant',
 'home',
 'health',
 'aide',
 'communications',
 'dispatcher',
 '',
 'is',
 'project',
 'director',
 'swimming',
 'instructor',
 'is',
 'administrator',
 '',
 'senior',
 'legal',
 'process',
 'clerk',
 'stdntdsgn',
 'trainarchengplng',
 'airport',
 'police',
 'services',
 'aide',
 'librarian',
 'i',
 'public',
 'service',
 'aideassociate',
 'to',
 'professionals',
 'engineering',
 'associate',
 '',
 'housekeeperfood',
 'service',
 'clnr',
 'nursing',
 'supervisor',
 'senior',
 'water',
 'services',
 'clerk',
 'maintenance',
 'machinist',
 'operating',
 'engineer',
 'universal',
 'fare',
 'collections',
 'receiver',
 'accountant',
 'iv',
 'clinical',
 'pharmacist',
 'lieutenant',
 'fire',
 'department',
 'airport',
 'safety',
 'officer',
 'court',
 'reporter',
 'bdcomm',
 'mbr',
 'grpmmo',
 'station',
 'agent',
 'muni',
 'railway',
 'medical',
 'records',
 'technician',
 'admission',
 'attendant',
 'senior',
 'collections',
 'officer',
 'inspector',
 'iii',
 'police',
 'department',
 'legislative',
 'assistant',
 'public',
 'safety',
 'communications',
 'dispatcher',
 'project',
 'manager',
 '',
 'stationary',
 'engineer',
 'sewage',
 'plant',
 'diagnostic',
 'imaging',
 'tech',
 'i',
 'is',
 'engineerjourney',
 'protective',
 'services',
 'supervisor',
 'is',
 'engineerprincipal',
 'superior',
 'court',
 'judge',
 'bldg',
 '',
 'grounds',
 'patrol',
 'officer',
 'principal',
 'account',
 'clerk',
 'public',
 'service',
 'aideassistant',
 'to',
 'professionals',
 'senior',
 'personnel',
 'clerk',
 'psychiatric',
 'technician',
 'environmental',
 'service',
 'worker',
 'associate',
 'engineer',
 'health',
 'worker',
 'iii',
 'sr',
 'community',
 'devl',
 'spc',
 '',
 'human',
 'services',
 'technician',
 'assistant',
 'engineer',
 'principal',
 'administrative',
 'analyst',
 'storekeeper',
 'parts',
 'storekeeper',
 'junior',
 'management',
 'assistant',
 'cement',
 'mason',
 'contract',
 'compliance',
 'officer',
 '',
 'emp',
 '',
 'training',
 'spec',
 '',
 'senior',
 'stationary',
 'engineer',
 'hsa',
 'social',
 'worker',
 'hospital',
 'eligibility',
 'worker',
 'sheriffs',
 'lieutenant',
 'public',
 'service',
 'aidehealth',
 'services',
 'statnry',
 'eng',
 'water',
 'treat',
 'plant',
 'park',
 'section',
 'supervisor',
 'general',
 'laborer',
 'supervisor',
 '',
 'it',
 'operations',
 'support',
 'admn',
 'iii',
 'commissioner',
 'no',
 'benefits',
 'electronic',
 'maintenance',
 'technician',
 'cashier',
 '',
 'head',
 'atty',
 'civil',
 '',
 'criminal',
 'cook',
 'track',
 'maintenance',
 'worker',
 'health',
 'worker',
 'ii',
 'real',
 'property',
 'appraiser',
 'senior',
 'parking',
 'control',
 'officer',
 'xray',
 'laboratory',
 'aide',
 'sheet',
 'metal',
 'worker',
 'diagnostic',
 'imaging',
 'tech',
 'ii',
 'senior',
 'telephone',
 'operator',
 'victimwitness',
 'investigator',
 '',
 'legal',
 'assistant',
 'planner',
 'environmental',
 'review',
 'social',
 'work',
 'specialist',
 'secretary',
 'ii',
 'swimming',
 'instructorpool',
 'lifeguard',
 'sewer',
 'service',
 'worker',
 'sr',
 'stationary',
 'eng',
 'sew',
 'plant',
 'watershed',
 'worker',
 'seasonal',
 'dep',
 'dir',
 'iii',
 'security',
 'guard',
 'water',
 'service',
 'inspector',
 'utility',
 'plumber',
 'supervisor',
 '',
 'accountant',
 'intern',
 'automotive',
 'body',
 '',
 'fender',
 'wrk',
 'elections',
 'clerk',
 'it',
 'operations',
 'support',
 'admin',
 'iv',
 'sr',
 'environmental',
 'hlth',
 'insp',
 'sign',
 'worker',
 'captain',
 '',
 'maintenance',
 'planner',
 'principal',
 'accountant',
 'senior',
 'engineer',
 'watershed',
 'keeper',
 'manager',
 'vii',
 'lieutenant',
 'iii',
 'police',
 'department',
 'manager',
 'viii',
 'nutritionist',
 'benefits',
 'technician',
 'estate',
 'investigator',
 'da',
 'investigative',
 'assist',
 'workers',
 'compensation',
 'adjuster',
 'assistant',
 'purchaser',
 'clinical',
 'nurse',
 'specialist',
 'dep',
 'dir',
 'ii',
 'electrical',
 'inspector',
 'claims',
 'investigator',
 'ca',
 'park',
 'patrol',
 'officer',
 'counselor',
 'log',
 'cabin',
 'ranch',
 'chemist',
 'iii',
 'assistant',
 'retirement',
 'analyst',
 'anesthetist',
 'architectural',
 'associate',
 '',
 'electrical',
 'line',
 'helper',
 'environmental',
 'assistant',
 'assistant',
 'chief',
 'attorney',
 '',
 'permit',
 'and',
 'citation',
 'clerk',
 'central',
 'processing',
 '',
 'dist',
 'tech',
 'stage',
 'electrician',
 'apprentice',
 'gardener',
 'biologist',
 'iii',
 'dietitian',
 'engineerarchitect',
 'principal',
 'parking',
 'meter',
 'repairer',
 'is',
 'business',
 'analyst',
 '',
 'principal',
 'cable',
 'splicer',
 'street',
 'inspector',
 'is',
 'engineer',
 '',
 'senior',
 'airport',
 'communications',
 'disp',
 'epidemiologist',
 '',
 'environmental',
 'health',
 'inspector',
 'asphalt',
 'worker',
 'architectural',
 'assistant',
 '',
 'senior',
 'food',
 'service',
 'worker',
 'sr',
 'community',
 'dev',
 'spec',
 '',
 'training',
 'officer',
 'fingerprint',
 'technician',
 '',
 'sr',
 'psychiatric',
 'social',
 'worker',
 'public',
 'relations',
 'officer',
 'physician',
 'assistant',
 'personnel',
 'clerk',
 'assistant',
 'storekeeper',
 'housing',
 'inspector',
 'marriage',
 'family',
 '',
 'child',
 'counselor',
 'mfcc',
 'is',
 'programmer',
 'analystsenior',
 'institution',
 'utility',
 'worker',
 'program',
 'support',
 'analyst',
 'library',
 'technical',
 'assistant',
 'i',
 'deputy',
 'sheriff',
 '',
 'nurses',
 'staffing',
 'assistant',
 'is',
 'administrator',
 'ii',
 'traffic',
 'signal',
 'electrician',
 'is',
 'business',
 'analyst',
 '',
 'senior',
 'social',
 'work',
 'supervisor',
 'manager',
 'iv',
 'mta',
 'captain',
 'emergency',
 'med',
 'svcs',
 'transit',
 'power',
 'line',
 'worker',
 'manager',
 'ii',
 'mta',
 'arborist',
 'technician',
 'dep',
 'dir',
 'iv',
 'insp',
 'fire',
 'dept',
 'recreation',
 'specialist',
 'legal',
 'process',
 'clerk',
 'personal',
 'property',
 'auditor',
 'utility',
 'analyst',
 'public',
 'safetycomm',
 'supv',
 'senior',
 'customer',
 'service',
 'agent',
 'health',
 'care',
 'analyst',
 'nurse',
 'midwife',
 'dental',
 'aide',
 'curator',
 '',
 'communications',
 'systems',
 'tech',
 'special',
 'examiner',
 'car',
 'and',
 'auto',
 'painter',
 'water',
 'qualitytech',
 'iii',
 'electrl',
 'trnst',
 'mech',
 'asst',
 'sprv',
 'it',
 'operations',
 'support',
 'admin',
 'ii',
 'window',
 'cleaner',
 'airport',
 'electrician',
 'executive',
 'secretary',
 'i',
 'train',
 'controller',
 'dentist',
 'plumbing',
 'inspector',
 'executive',
 'secretary',
 'ii',
 'battalion',
 'chief',
 'fire',
 'suppress',
 'criminalist',
 'ii',
 'senior',
 'accountant',
 'surgical',
 'procedures',
 'technician',
 'health',
 'worker',
 'i',
 'senior',
 'payroll',
 'and',
 'personnel',
 'clerk',
 'steamfitter',
 'assessment',
 'clerk',
 'health',
 'educator',
 'environmental',
 'spec',
 'museum',
 'preparator',
 'health',
 'care',
 'billing',
 'clerk',
 'ii',
 'patient',
 'accounts',
 'clerk',
 'sr',
 'environmental',
 'spec',
 'landscape',
 'architect',
 'assoc',
 '',
 'public',
 'health',
 'team',
 'leader',
 'chief',
 'clerk',
 'animal',
 'care',
 'attendant',
 'prnpl',
 ...]

In [31]:
df_job_title_words = pd.DataFrame(job_title_words, columns=['words'])
df_job_title_words = pd.DataFrame((df_job_title_words.groupby(by='words')['words'].count()).sort_values(ascending=False))
df_job_title_words = df_job_title_words.rename(columns={'words':'quantity'}).reset_index()
df_job_title_words
df_job_title_words['words'].to_list()

['',
 'supervisor',
 'assistant',
 'senior',
 'i',
 'ii',
 'technician',
 'manager',
 'worker',
 'specialist',
 'clerk',
 'court',
 'sprv',
 'is',
 'chief',
 'iii',
 'inspector',
 'officer',
 'and',
 'asst',
 'analyst',
 'investigator',
 'services',
 'of',
 'director',
 'transit',
 'public',
 'health',
 'engineer',
 'department',
 'sr',
 'service',
 'police',
 'deputy',
 'principal',
 'maintenance',
 'fire',
 'secretary',
 'tech',
 'coordinator',
 'water',
 'airport',
 'medical',
 'planner',
 'property',
 'staff',
 'power',
 'iv',
 'communications',
 'svcs',
 'associate',
 'supervising',
 'plant',
 'probation',
 'attorney',
 'operator',
 'supv',
 'line',
 'dept',
 'counselor',
 'dir',
 'automotive',
 'stationary',
 'administrator',
 'administrative',
 'spec',
 'head',
 'to',
 'transportation',
 'electrical',
 'mechanic',
 'personnel',
 'environmental',
 'municipal',
 'training',
 'sfers',
 'aide',
 'electrician',
 'chf',
 'operations',
 'mayoral',
 'relations',
 'admin',
 'v',
 'mgr',
 'museum',
 'commission',
 'emergency',
 'human',
 'comm',
 'program',
 'shop',
 'utility',
 'real',
 'coord',
 'social',
 'care',
 'district',
 'auditor',
 'safety',
 'support',
 'recreation',
 'ofc',
 'office',
 'community',
 'city',
 'laboratory',
 'the',
 'wrk',
 'agency',
 'treatment',
 'mta',
 'juvenile',
 'executive',
 'lieutenant',
 'machinist',
 'maint',
 'atty',
 'general',
 'special',
 'prob',
 'architectural',
 'repairer',
 'attorneys',
 'superintendent',
 'street',
 'accountant',
 'fare',
 'traffic',
 'employee',
 'port',
 'plumber',
 'civil',
 'systems',
 'payroll',
 'nurse',
 'sheriff',
 'materials',
 'electronic',
 'pr',
 'animal',
 'board',
 'eng',
 'equipment',
 'hall',
 'grounds',
 'dispatcher',
 'media',
 'med',
 'building',
 'dep',
 'parking',
 'patient',
 'business',
 'captain',
 'project',
 'clinical',
 'claims',
 'control',
 'librarian',
 'typist',
 'examiner',
 'shelter',
 'eligibility',
 'superior',
 'programmer',
 'family',
 'sewage',
 'storekeeper',
 'victimwitness',
 'representative',
 'sergeant',
 'agent',
 'employment',
 'adult',
 'criminal',
 'forensic',
 'legal',
 'child',
 'collections',
 'juv',
 'asphalt',
 'library',
 'cable',
 'engineering',
 'invstgtor',
 'controller',
 'metal',
 'research',
 'meter',
 'information',
 'apprentice',
 'examiners',
 'computer',
 'industrial',
 'psychiatric',
 'cleaner',
 'attendant',
 'patrol',
 'finisher',
 'supt',
 'food',
 'generation',
 'development',
 'curator',
 'personal',
 'receiver',
 'repair',
 'cement',
 'permit',
 'equip',
 'benefits',
 'toxicologist',
 'sup',
 'watershed',
 'citation',
 'hearing',
 'sheriffs',
 'ex',
 'physician',
 'auto',
 'svc',
 'track',
 'survey',
 'dist',
 'signal',
 'hygienist',
 'trainee',
 'painter',
 'facilities',
 'group',
 'member',
 'fiscal',
 'junior',
 'legislative',
 'sctry',
 'ct',
 'sheet',
 'trnst',
 'therapist',
 'appraiser',
 'div',
 'cabin',
 'commissioner',
 'bureau',
 'hospital',
 'transcriber',
 'accounts',
 'it',
 'resources',
 'production',
 'comp',
 'customer',
 'planning',
 'vii',
 'arts',
 'hlth',
 'collector',
 'porter',
 'helper',
 'heavy',
 'performance',
 'parts',
 'physical',
 'wire',
 'house',
 'mech',
 'landscape',
 'log',
 'keeper',
 'therapy',
 'diagnostic',
 'management',
 'journey',
 'marriage',
 'car',
 'weights',
 'carpenter',
 'mechanical',
 'imaging',
 'mediasecurity',
 'boardcommission',
 'cashier',
 'mental',
 'bldg',
 'biologist',
 'tax',
 'chemist',
 'citizen',
 'swimming',
 'insp',
 'supervisors',
 'body',
 'fender',
 'security',
 'fingerprint',
 'records',
 'rope',
 'rights',
 'emp',
 'railway',
 'purchaser',
 'vi',
 'preparator',
 'environment',
 'sfgh',
 'statnry',
 'rehabilitation',
 'construction',
 'contract',
 'psychologist',
 'instructor',
 'nursing',
 'account',
 'wastewater',
 'welfare',
 'estate',
 'criminalist',
 'institutional',
 'sys',
 'review',
 'ranch',
 'on',
 'inspection',
 'rail',
 'roofer',
 'soft',
 'technologist',
 'educator',
 'motor',
 'marina',
 'rep',
 'electric',
 'mbr',
 'measures',
 'wharfinger',
 'technical',
 'environ',
 'tree',
 'reporter',
 'welder',
 'steamfitter',
 'disp',
 'center',
 'registrar',
 'epidemiologist',
 'billing',
 'janitorial',
 'microbiologist',
 'microphotoimaging',
 'central',
 'bdcomm',
 'retirement',
 'room',
 'cfdntal',
 'checker',
 'confidential',
 'main',
 'sew',
 'laborer',
 'affairs',
 'topper',
 'pharmacy',
 'light',
 'lifeguard',
 'viii',
 'piledriver',
 'testing',
 'asian',
 'processing',
 'process',
 'probate',
 'guard',
 'glazier',
 'plumbing',
 'architect',
 'supplies',
 'communication',
 'floor',
 'prevention',
 'arborist',
 'division',
 'fraud',
 'forester',
 'telephone',
 'pharmacist',
 'iron',
 'compliance',
 'hsa',
 'fac',
 'housing',
 'ornamental',
 'quality',
 'locksmith',
 'park',
 'facility',
 'sewer',
 'assoc',
 'distribution',
 'station',
 'transmission',
 'protective',
 'defenders',
 'coverer',
 'workers',
 'trainer',
 'work',
 'orthopedic',
 'undersheriff',
 'judge',
 'cook',
 'law',
 'justice',
 'crime',
 'vehicle',
 'lab',
 'enforcement',
 'crane',
 'for',
 'electr',
 'finance',
 'complaint',
 'field',
 'electroencephalograph',
 'unified',
 'compensation',
 'custodial',
 'commander',
 'housekeeperfood',
 'graphics',
 'commercial',
 'fixture',
 'leader',
 'trans',
 'gardener',
 'cnslr',
 'traf',
 'dietitian',
 'interpreter',
 'involvement',
 'investments',
 'dental',
 'elections',
 'investigative',
 'treat',
 'intern',
 'in',
 'const',
 'conservatorshipcase',
 'eeo',
 'volunteeroutreach',
 'conservation',
 'unit',
 'citizens',
 'splicer',
 'designer',
 'analystprincipal',
 'paramedic',
 'xvi',
 'paint',
 'stores',
 'reproduction',
 'ops',
 'status',
 'adlt',
 'adjuster',
 'women',
 'prof',
 'professionals',
 'programming',
 'action',
 'programs',
 'operating',
 'offset',
 'supply',
 'repres',
 'app',
 'parks',
 'applications',
 'suppression',
 'area',
 'art',
 'rnch',
 'xv',
 'assessment',
 'aquatics',
 'photographer',
 'pest',
 'aging',
 'prev',
 'affirmative',
 'advisor',
 'safetycomm',
 'assistance',
 'scheduler',
 'wtr',
 'practitioner',
 'sealer',
 'occupational',
 'analystsenior',
 'analystassistant',
 'spc',
 'boats',
 'shops',
 'alarm',
 'book',
 'xiv',
 'access',
 'radiologic',
 'mason',
 'squares',
 'marketing',
 'market',
 'maritime',
 'buildings',
 'abatement',
 'mail',
 'telecommunications',
 'machine',
 'lighting',
 'youth',
 'window',
 'alternative',
 'mfcc',
 'ps',
 'nursery',
 'sign',
 'battalion',
 'noise',
 'no',
 'musm',
 'signs',
 'muni',
 'system',
 'plnt',
 'mgmt',
 'mobile',
 'stadium',
 'morgue',
 'cont',
 'aideasst',
 'agenc',
 'aideadministrative',
 'constmain',
 'xray',
 'aideassistant',
 'conversion',
 'aideadmin',
 'victim',
 'agricultural',
 'aideassociate',
 'xvii',
 'veterniary',
 'veterinarian',
 'da',
 'data',
 'defender',
 'act',
 'acpojuvp',
 'delay',
 'xxii',
 'accesssvcs',
 'dentist',
 'ventilating',
 'vendor',
 'departmentfire',
 'depty',
 'aam',
 'veh',
 'cvlcrmnl',
 'custodian',
 'activities',
 'admission',
 'counselorlog',
 'vet',
 'age',
 'ag',
 'crafts',
 'admn',
 'administratorsupervisor',
 'acupuncturist',
 'crossing',
 'crt',
 'admini',
 'xviii',
 'adm',
 'ad',
 'aidehealth',
 'calendar',
 'conservator',
 'attendent',
 'bacteriological',
 'autopsy',
 'warehouse',
 'authority',
 'witness',
 'civilcriminal',
 'volunteer',
 'audiometrist',
 'cld',
 'audiologist',
 'attys',
 'attrys',
 'vol',
 'clincal',
 'vocational',
 'baker',
 'barber',
 'chef',
 'brd',
 'cadet',
 'ca',
 'c',
 'bur',
 'captfire',
 'bricklayer',
 'braillist',
 'battlion',
 'bodyfender',
 'design',
 'case',
 'bldgs',
 'cent',
 'beautician',
 'clk',
 'asstsr',
 'aidepublic',
 'asstdepdir',
 'arch',
 'arcengplng',
 'victimwit',
 'camp',
 'aprntc',
 'anl',
 'xi',
 'anesthetist',
 'xii',
 'anaylst',
 'complaints',
 'xiii',
 'airports',
 'aidetechnical',
 'aidespecial',
 'archengplng',
 'x',
 'artist',
 'cnselor',
 'works',
 'clm',
 'clnr',
 'wrkr',
 'cmplnts',
 'assistnat',
 'assist',
 'asr',
 'assessorrecorder',
 'cnsrvt',
 'collection',
 'assessor',
 'com',
 'asroffice',
 'aprntcstatnry',
 'hh',
 'dev',
 'suppressi',
 'supvr',
 'pattern',
 'pay',
 'per',
 'perf',
 'performing',
 'personnelpayroll',
 'pianist',
 'pile',
 'pilot',
 'pipe',
 'plan',
 'plans',
 'surgical',
 'suppress',
 'pln',
 'pltncn',
 'pol',
 'poll',
 'pool',
 'supinvst',
 'pou',
 'powerhouse',
 'supervisorinvestigator',
 'prdainvestspecunit',
 'presiding',
 'pathologist',
 'paralegal',
 'supervis',
 'occ',
 'meeting',
 'metalsmith',
 'mgnt',
 'team',
 'mgt',
 'midwife',
 'mmtg',
 'taxi',
 'not',
 'syst',
 'nurses',
 'nutritionist',
 'switch',
 'page',
 'ofcr',
 'officerjuvenile',
 'surveyor',
 'operatoranalyst',
 'operatorjourney',
 'operatorsenior',
 'opers',
 'oprs',
 'or',
 'orderly',
 'orders',
 'packer',
 'prg',
 'prnpl',
 'devl',
 'statistician',
 'safe',
 'stdntdsgntrain',
 'school',
 'scty',
 'se',
 'seasonal',
 'sec',
 'stdntdsgn',
 'secretaryjuvenile',
 'section',
 'sen',
 'serv',
 'setter',
 's',
 'settlmnt',
 'sfmta',
 'shade',
 'stage',
 'shift',
 'staffing',
 'snr',
 'southeast',
 'stable',
 'srclaimsinvstgtorcty',
 'specialists',
 'specialst',
 'sa',
 'rs',
 'supervi',
 'reader',
 'superv',
 'proc',
 'procedures',
 'superintendentmunicipal',
 'protection',
 'provided',
 'prpl',
 'pub',
 'publ',
 'student',
 'qualitytech',
 'radio',
 'structural',
 'retire',
 'rec',
 'reduction',
 'registered',
 'regulatory',
 'rent',
 'rental',
 'repr',
 'representat',
 'rescue',
 'resolution',
 'respiratory',
 'ret',
 'technic',
 'mediator',
 'technicaljourney',
 'exhibit',
 'engineerjourney',
 'engineerprincipal',
 'engineersenior',
 'engineerwater',
 'engr',
 'engwtrtreat',
 'engwtrtreatplnt',
 'entry',
 'estimator',
 'evaluations',
 'events',
 'treasurer',
 'fabricator',
 'engineerarchitect',
 'fam',
 'farmer',
 'feasibility',
 'fighter',
 'firefighter',
 'forestry',
 'fusion',
 'gen',
 'government',
 'govrnmtpubl',
 'graphic',
 'trainersenior',
 'engineerassistant',
 'trial',
 'technican',
 'drug',
 'devt',
 'dietetic',
 'urban',
 'universal',
 'disability',
 'disease',
 'distatty',
 'distric',
 'document',
 'dph',
 'drapery',
 'driver',
 'duty',
 'engine',
 'economic',
 'ufcs',
 'electrl',
 'elevator',
 'elig',
 'eligiblity',
 'emerg',
 'truck',
 'emergencycy',
 'emtparamedicfirefighter',
 'trnsp',
 'engarchlandscape',
 'groundskeeper',
 'groundskpr',
 'grpmmo',
 'lieutfire',
 'investigatortaxi',
 'investigatortransit',
 'investment',
 'invsgtn',
 'invstgtorfire',
 'invstgtorspecunit',
 'tile',
 'ivenvironmental',
 'ix',
 'laundry',
 'legislation',
 'licensed',
 'technology',
 'grpmmtg',
 'maker',
 'technicianwtr',
 'manageremployee',
 'managermetropolitan',
 'managing',
 'marine',
 'techniciansupervisor',
 'materialssupplies',
 'mayor',
 'techniciansenior',
 'mayors',
 'meas',
 'investigatoriii',
 'investigatorcity',
 'investigation',
 'investadmin',
 'trainerjourney',
 'trainerassistant',
 'heating',
 'heatingventilating',
 'speech',
 'hodcarrier',
 'home',
 'trainarchengplng',
 'train',
 'iiienvironmental',
 'illustrator',
 'incident',
 'info',
 'injury',
 'inpsector',
 'inspections',
 'institution',
 'instrmntn',
 'instrpool',
 'instructional',
 'instructorpool',
 'instrumentation',
 'integrated',
 'inventory',
 'invest',
 'zoo']

In [144]:
df_job_title_words['lenght_word'] = df_job_title_words['words'].apply(lambda x: len(str(x)))
df_job_title_words = df_job_title_words[df_job_title_words['lenght_word'] > 2][['words', 'quantity']]
df_job_title_words

               words  quantity
0         supervisor       155
1          assistant       119
2             senior       112
3         technician        62
4            manager        62
..               ...       ...
863  instrumentation         1
864       integrated         1
865        inventory         1
866           invest         1
867              zoo         1

[868 rows x 2 columns]

In [98]:
df_job_title_words = df_job_title_words.reset_index()[['words', 'quantity']]

df_job_title_words.describe()

         quantity
count  868.000000
mean     5.364055
std     10.965762
min      1.000000
25%      1.000000
50%      2.000000
75%      5.000000
max    155.000000

In [100]:

df_job_title_words[df_job_title_words['quantity'] > df_job_title_words.quantity.mean() + df_job_title_words.quantity.std()]

             words  quantity
0       supervisor       155
1        assistant       119
2           senior       112
3       technician        62
4          manager        62
5           worker        54
6       specialist        54
7            clerk        52
8            court        52
9             sprv        52
10           chief        50
11             iii        49
12       inspector        48
13         officer        47
14             and        46
15            asst        45
16         analyst        45
17    investigator        42
18        services        41
19        director        36
20         transit        35
21          public        34
22          health        34
23        engineer        33
24      department        33
25         service        32
26          police        31
27          deputy        31
28       principal        30
29     maintenance        27
30            fire        27
31       secretary        26
32            tech        24
33     coordinator        24
34           water        24
35         airport        23
36         medical        22
37         planner        21
38        property        20
39           staff        20
40           power        20
41  communications        19
42            svcs        18
43       associate        18
44     supervising        18
45           plant        18
46       probation        17
47        attorney        17
48        operator        17
49            supv        17

In [143]:
df_departments = df_job_title[df_job_title.JobTitle.str.contains('dep')]
ls_departments = []
for i in (df_departments.JobTitle.apply(lambda x: str(x).split(' '))).to_list():
    for k in i:
        ls_departments.append(k)

df_departments = pd.DataFrame(ls_departments, columns=['dep_words'])
df_departments = df_departments.groupby(by='dep_words')[['dep_words']].count()
df_departments = df_departments.rename(columns={'dep_words':'quantity'})
df_departments = (df_departments.sort_values(by='quantity', ascending=False)).reset_index()
df_departments['len_words'] = df_departments.dep_words.apply(lambda x: len(str(x)))
df_departments[(~df_departments['dep_words'].str.contains('dep'))
               & (df_departments.quantity > 1)
               & (df_departments.len_words > 3)]


# 'police', 'sheriff'
# 'fire'
# 'med', 'nurse'

         dep_words  quantity  len_words
2           police        17          6
4            chief        13          5
8         director        11          8
9             head        10          4
11            fire         9          4
12       assistant         9          9
15       inspector         6          9
17         sheriff         5          7
18      lieutenant         5         10
19       probation         4          9
20          public         4          6
22           staff         4          5
24        sergeant         4          8
25           sfers         3          5
26           court         3          5
27         officer         3          7
28           clerk         3          5
29            port         2          4
30     investments         2         11
32         medical         2          7
33            adlt         2          4
34          sealer         2          6
35          health         2          6
36        services         2          8
37         weights         2          7
38  transportation         2         14
39            svcs         2          4
40         airport         2          7
42         captain         2          7
44          senior         2          6
45       municipal         2          9

In [141]:
df_test[df_test.JobTitle.str.contains('fire')]

,Id,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Status
EmployeeName,,,,,,,,,,
aaron c stevenson,73964,lieutenant fire suppression,134538,40139.8,15512.6,44643.6,190190.14,234833.75,2013,NaN
aaron c stevenson,111888,lieutenant fire suppression,127457,38240.8,15394.1,46309.8,181091.78,227401.58,2014,FT
aaron fisher,683,firefighter,105935,56048.7,18110.2,NaN,180093.59,180093.59,2011,NaN
aaron fisher,36961,firefighter,109784,65175.6,18853.6,39343,193813.08,233156.05,2012,NaN
aaron i fisher,73246,firefighter,116957,91193.6,19856,41406.6,228006.37,269412.95,2013,NaN
...,...,...,...,...,...,...,...,...,...,...
zachary w pumphrey,73003,battalion chief fire suppress,184543,50848.3,23067.8,55646.6,258459.41,314106.00,2013,NaN
zachary w pumphrey,110712,battalion chief fire suppress,177852,23110.3,22312.4,57268.1,223274.28,280542.42,2014,FT
zackary j tibbits,73554,firefighter,115893,78500.4,17577,39617.3,211970.90,251588.21,2013,NaN
zackary j tibbits,112097,firefighter,112704,49799.7,17320.1,41991.4,179823.59,221814.99,2014,FT
zackary tibbits,36996,firefighter,110560,67009.5,15477.5,38547.2,193046.77,231593.95,2012,NaN

In [ ]:
# df_test['department'] =

In [1]:
# df_test.groupby(by='')['Status'].count().sort_values(ascending=False)


df_test

NameError: name 'df_test' is not defined

In [33]:
ls_words_new = ['fire', 'police', 'medical', 'inspector', 'officer', 'health', 'police', 'principal', 'fire', 'water', 'medical', 'emergency'
    , 'superintendent', 'nurse', 'sheriff', 'patient', 'captain', 'clinical', 'sergeant', 'criminal', 'psychiatric'
    , 'cleaner', 'patrol', 'toxicologist', 'watershed', 'sheriffs', 'physician', 'survey', 'hygienist', 'hospital'
    , 'transcriber', 'hlth', 'physical', 'therapy', 'diagnostic', 'chemist', 'citizen', 'insp', 'supervisors', 'body'
    , 'psychologist', 'nursing', 'wastewater', 'welfare', 'criminalist', 'wharfinger', 'epidemiologist'
    , 'microbiologist', 'laborer', 'pharmacy', 'lifeguard', 'pharmacist', 'orthopedic', 'custodial', 'dietitian'
    , 'dental', 'intern', 'paramedic', 'aquatics', 'advisor', 'radiologic', 'nursery', 'morgue', 'dentist', 'custodian'
    , 'acupuncturist', 'aidehealth', 'bacteriological', 'clincal', 'anesthetist', 'surgical', 'pathologist', 'paralegal'
    , 'supervis', 'nurses', 'nutritionist', 'supervi', 'superv', 'respiratory', 'firefighter', 'emerg', 'emergencycy'
    , 'emtparamedicfirefighter', 'lieutfire', 'mayor', 'mayors', 'meas', 'inpsector', 'inspections']

In [34]:
df_salaries.EmployeeName.re.c

TypeError: unhashable type: 'list'

In [ ]:
# отобрать те должности, которые не содержат fire/medical/police и потом разбить по словам и проанализировать слова
df_work = df_salaries.copy()

In [1]:
px.colors.colorbrewer.swatches()
# rgb(,,)

NameError: name 'px' is not defined

'rgb(201,148,199)'